<font color="#838B8B"> <h1> Project Page </h1> </font>
<%= link_to "Projects", projects_path %> | <%= link_to "Users", users_path %> | <%= link_to "New Project", new_project_path %> | <%= link_to "New User", new_user_path %> 

<p> ------------------------------------------------- </p>
<h3><b> Title: </b> <%= @project.project_name %></h3>
<p> <b> Description: </b> <%= @project.description %> </p>
<b> User: </b>
<%= @project.user.name%> 
<%= @project.user.last_name%>
<br>
