<font color="#838B8B"> <h1> Improve your City </h1> </font>

<h3><b> Title: </b> <%= @project.project_name %></h3>
<p> <b> Description: </b> <%= @project.description %> </p>
<b> User: </b>
<%= @project.user.name %> 
<%= @project.user.last_name%>
<br>
<b> Category: </b>
<%= @project.category.category_name%> 
<br>
